@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

.rounded {
  border-radius: 20;
}
.message {
  color: #666;
  font-size: 16;
  padding: 20;
}

.message-ndef {
  margin-left: 20;
}

button {
  background-color: #6494aa;
  padding: 10;
  margin: 6 20;
  font-size: 14;
  border-radius: 6;
}

.button {
  color: #ffffff;
}

.button-a {
  background-color: #90a959;
}

.button-b {
  background-color: #e0a458;
}

.button-c {
  background-color: #ff6600;
}

.button-d {
  background-color: #22b4cc;
}
